.root {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.linkList {
    list-style: none;
    display: flex;
}

.link {
    color: #61dafb;
    text-decoration: none;
}

.linkListItem + .linkListItem {
    margin-left: 8px;
}
